html body {
    height: 100%;
}

#header{
    float: left;
}

#trash{
    float: right;
    text-align:center;
    border-width:2px;
    border-color:#000000;
    background-color:#dddddd;
    width: 4em;
    height: 2em;
}

.objlabel{
    display: table-cell;
    background-color:#dddddd;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    width: 18em;
    height: 2em;
}

.tab{
    overflow: auto;
    height: 100%;
}

#tabs li .ui-icon-close {
    float: left;
    cursor: pointer;
}

.info{
    width: 20em;
    float: left;
    overflow:auto;
}

/*
.disp{
    height: 100%;
    float: left;
}*/

.taglist {
    overflow: hidden;
}

.taglist li {
    float: left;
    width: 15em;
    display: inline;
}

.thumbslist {
    overflow: hidden;
}

.thumbslist-hover {
    background-color:#dddddd;
    width: 130px;
    height: 130px;
}

.thumbslist li {
    float: left;
    width: 130px;
    height: 130px;
    text-align: center;
    display: inline;
}

.thumbslist li img {
    vertical-align: middle;
}

#list{
    overflow:auto;
}

#main{
    width: 100%;
    height: 500px;
    float:left;
    overflow:auto;
}

#right{
    float:left;
    overflow:auto;
    visibility:hidden;
}

#overlay{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:1;
    visibility:hidden;
}

#grey{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.2;
}

#dialogbox{
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

#dialoghead{
    float:left;
    padding:4px;
    background-color:#eeeeee;
    width:100%;
}

#dialogtitle{
    float:left;
    font-weight:bold;
}

#dialogcontrols{
    float:right;
    text-align:right;
}

#dialog{
    float:left;
    padding:4px;
    width:100%;
    height:100%;
    background-color:#ffffff;
    overflow:auto;
}

.picture{
    float:left;
}

.description{
    font-size:12px;
    color:#666666;
}

h1{
    font-family:sans-serif;
    font-size:14pt;
}

h2{
    font-family:sans-serif;
    font-size:12pt;
}

body{
    font-family:sans-serif;
    font-size:11pt;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

/* vim:sts=4:sw=4:et
 */
