<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
  <title>UI Gen3</title>
</head>

<body>

<!-- Load React -->
<script src="/static/libs/react.js"></script>
<script src="/static/libs/react-dom.js"></script>
<script src="/static/libs/react-bootstrap.js"></script>
<script src="/static/libs/browser.js"></script>

<!-- Load jQuery -->
<link rel="stylesheet" href="static/libs/jquery-ui.css" />
<script src="static/libs/jquery.js"></script>
<script src="static/libs/jquery-ui.js"></script>

<script src="static/image.js" type="text/javascript"></script>
<script src="static/view.js" type="text/javascript"></script>
<script src="static/display.js" type="text/javascript"></script>
<script src="static/dialog.js" type="text/javascript"></script>
<script src="static/script.js" type="text/javascript"></script>
<link rel="stylesheet" href="static/libs/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="static/style.css" type="text/css"/>

<py:if test='username is not None'>
<py:if test='not is_admin'>
<script type="text/javascript">
    document.username = "user";
</script>
</py:if>
<py:if test='is_admin'>
    <script type="text/javascript">
        document.username = "admin";
    </script>
</py:if>
</py:if>
<py:if test='username is None'>
    <script type="text/javascript">
        document.username = null;
    </script>
</py:if>

<div id="app"></div>
<script type="text/babel" src="/static/app.js"></script>

</body></html>
