<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
  <title>UI Gen3</title>
</head>

<body>

<!-- Load jQuery -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script src="static/image.js" type="text/javascript"></script>
<script src="static/view.js" type="text/javascript"></script>
<script src="static/display.js" type="text/javascript"></script>
<script src="static/dialog.js" type="text/javascript"></script>
<script src="static/script.js" type="text/javascript"></script>
<link rel="stylesheet" href="static/style.css" type="text/css"/>

<div id='page'>
<xi:include href="header.html"/>
<div id='trash'>Trash</div>

<div id='main'>

<div id='tabs'>
    <ul>
        <li><a href='#welcome-tab'>Begin</a></li>
        <li><a href='#taglist-tab'>Taglist</a></li>
        <li><a href='#admin-tab'>Admin</a></li>
    </ul>
    <div class='tab' id='welcome-tab'><xi:include href="tabs/begin.html"/></div>
    <div class='tab' id='taglist-tab'><xi:include href="tabs/taglist.html"/></div>
    <div class='tab' id='admin-tab'>Loading...</div>
</div>

</div>
</div>

<xi:include href="dialogs.html"/>

</body></html>
